body {

    background-color: #ccc;
    font-size: 25px;
    text-align: center;

}


#centriraj {

    width: 400px;
    height: 300px;
    margin: 0 auto;
    background-color: #eee;
    padding: 50px 20px 0px 20px;
    margin-top: 200px;

}

a {
    display: block;
    text-decoration: none;
    background-color: #ccc;
    padding: 10px;
    color: #000;
}